@let inProgress = store.createUpdateRealEstateStatus().inProgress;

<h3 mat-dialog-title>{{ dialogTitle() }}</h3>

<mat-dialog-content>
  <div class="py-2">
    <app-product-form></app-product-form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="w-36" mat-flat-button [disabled]="inProgress" (click)="saveProduct()">
    @if (inProgress) {
      <mat-spinner diameter="20" mode="indeterminate"></mat-spinner>
    } @else {
      Save
    }
  </button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
